.table-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  line-height: 50px;

  .search-and-add {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .centered-image {
    width: 100%; 
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }

  table {
    --bs-table-striped-bg: #f4f6fa;

    .circle-stripe {
      background-color: #f8f9fa;
      border-radius: 20px;
    }

    .action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 50px;
    }

    .icon-button:hover() {
      cursor: pointer;
    }

    th,
    td {
      max-width: 5rem;
    }

    .table-striped tbody tr:nth-of-type(odd) {
      background-color: #f8f9fa;
    }
  }
}
